*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}




/*  ROW */

.row{
 width: 80%;
 margin: auto;
 margin-bottom: 70px;
 text-align: center;
}

/* PRODUCT */
.product{
  position: relative;
  display: inline-block;
  width: 30%;
  padding: 5px;
}

.product img{
  width: 100%;
}

/* DISCOUNT */

.discount{
  font-weight: bold;
  padding: 3px;
  font-size: 13px;
  color: white;
  background-color: rgb(235, 0, 55);
  position: absolute;
  bottom: 20px;
  left: 5px;
}

/* SUSTAINABLE */
.sustainable{
  font-weight: bold;
  margin-left: 5px;
  padding: 3px;
  font-size: 13px;
  color: white;
  background-color: rgb(0, 135, 90);
  position: absolute;
  bottom: 20px;
  left: 40px;
}

/* HEART BOX */

.heart{
  color: black;
  background-color: white;
  width: 30px;
  height: 30px;
  position: absolute;
  right: 1.4%;
  top: 5%;
  line-height: 30px;
}

/* PRODUCT DESCRIPTION */

.description{
  margin-top: 5px;
  width: 100%;
  position: absolute;
  text-align: left;
}


.description p{
  font-size: 0.7rem;
}


.product-name{
  width: 100%;
  color: black;
  text-transform: uppercase;
  font-weight: bold;
}


.discounted-price{
  font-weight: bold;
  color:rgb(255, 0, 0) ;
}

.old-price{
  text-decoration: line-through;
}

/* special sustainable */

#sustainable-box{
  font-weight: bold;
  margin-left: 5px;
  padding: 3px;
  font-size: 13px;
  color: white;
  background-color: rgb(0, 135, 90);
  position: absolute;
  bottom: 20px;
  left: 0px;
}

/* HOVERS */

.img-swap .swap{
  display: none;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.img-swap:hover .swap{
  display: inline;
}

